body{
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#view-canvas{
    width: 100%;
    height: 100%;
}

.tools{
    position: absolute;
    z-index: 9999;
    top: 20px;
    left: 20px;
}

.upload-wrapper{
    width: 10rem;
    height: 10rem;
    border-radius: 25px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload-wrapper input[type="file"]{
    width: 100%;
    border: 0;
    background: transparent;
}

.skeletons-wrapper{
    border-radius: 25px;
    background: #fff;
}

.audio-controls{
    display: none;
}

.audio-controls.active{
    display: block;
}